* {
  font-family: "Poppins", sans-serif;
  background-color: #121318;
  color: #fff;
}

body {
 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(17%2c 31%2c 46%2c 1)'%3e%3c/rect%3e%3cpath d='M103.09 64.93L168.05 102.43L168.05 177.43L103.09 214.93L38.14 177.43L38.14 102.43zM38.14 402.43L103.09 439.93L103.09 514.93L38.14 552.43L-26.81 514.93L-26.81 439.93zM168.05 177.43L233 214.93L233 289.93L168.05 327.43L103.09 289.93L103.09 214.93zM168.05 402.43L233 439.93L233 514.93L168.05 552.43L103.09 514.93L103.09 439.93zM297.95 177.43L362.91 214.93L362.91 289.93L297.95 327.43L233 289.93L233 214.93zM557.77 -47.57L622.72 -10.07L622.72 64.93L557.77 102.43L492.82 64.93L492.82 -10.07zM622.72 64.93L687.68 102.43L687.68 177.43L622.72 214.93L557.77 177.43L557.77 102.43zM557.77 177.43L622.72 214.93L622.72 289.93L557.77 327.43L492.82 289.93L492.82 214.93zM622.72 289.93L687.68 327.43L687.68 402.43L622.72 439.93L557.77 402.43L557.77 327.43zM687.68 -47.57L752.63 -10.07L752.63 64.93L687.68 102.43L622.72 64.93L622.72 -10.07zM752.63 64.93L817.59 102.43L817.59 177.43L752.63 214.93L687.68 177.43L687.68 102.43zM752.63 289.93L817.59 327.43L817.59 402.43L752.63 439.93L687.68 402.43L687.68 327.43zM752.63 514.93L817.59 552.43L817.59 627.43L752.63 664.93L687.68 627.43L687.68 552.43zM882.54 289.93L947.49 327.43L947.49 402.43L882.54 439.93L817.58 402.43L817.58 327.43zM817.58 402.43L882.54 439.93L882.54 514.93L817.58 552.43L752.63 514.93L752.63 439.93zM947.49 -47.57L1012.45 -10.07L1012.45 64.93L947.49 102.43L882.54 64.93L882.54 -10.07zM1012.45 64.93L1077.4 102.43L1077.4 177.43L1012.45 214.93L947.49 177.43L947.49 102.43zM947.49 177.43L1012.45 214.93L1012.45 289.93L947.49 327.43L882.54 289.93L882.54 214.93zM1012.45 289.93L1077.4 327.43L1077.4 402.43L1012.45 439.93L947.49 402.43L947.49 327.43zM1012.45 514.93L1077.4 552.43L1077.4 627.43L1012.45 664.93L947.49 627.43L947.49 552.43zM1142.35 289.93L1207.31 327.43L1207.31 402.43L1142.35 439.93L1077.4 402.43L1077.4 327.43zM1077.4 402.43L1142.35 439.93L1142.35 514.93L1077.4 552.43L1012.45 514.93L1012.45 439.93zM1402.17 64.93L1467.12 102.43L1467.12 177.43L1402.17 214.93L1337.22 177.43L1337.22 102.43zM1402.17 289.93L1467.12 327.43L1467.12 402.43L1402.17 439.93L1337.22 402.43L1337.22 327.43zM1402.17 514.93L1467.12 552.43L1467.12 627.43L1402.17 664.93L1337.22 627.43L1337.22 552.43zM1467.12 -47.57L1532.08 -10.07L1532.08 64.93L1467.12 102.43L1402.17 64.93L1402.17 -10.07zM1532.08 64.93L1597.03 102.43L1597.03 177.43L1532.08 214.93L1467.12 177.43L1467.12 102.43zM1532.08 289.93L1597.03 327.43L1597.03 402.43L1532.08 439.93L1467.12 402.43L1467.12 327.43zM1532.08 514.93L1597.03 552.43L1597.03 627.43L1532.08 664.93L1467.12 627.43L1467.12 552.43z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M95.59 64.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM160.55 102.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM160.55 177.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM95.59 214.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM30.64 177.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM30.64 102.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM30.64 402.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM95.59 439.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM95.59 514.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM30.64 552.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-34.31 514.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-34.31 439.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM225.5 214.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM225.5 289.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM160.55 327.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM95.59 289.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM160.55 402.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM225.5 439.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM225.5 514.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM160.55 552.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM290.45 177.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM355.41 214.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM355.41 289.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM290.45 327.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM550.27 -47.57 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM615.22 -10.07 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM615.22 64.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM550.27 102.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM485.32 64.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM485.32 -10.07 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM680.18 102.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM680.18 177.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM615.22 214.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM550.27 177.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM615.22 289.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM550.27 327.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM485.32 289.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM485.32 214.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM680.18 327.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM680.18 402.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM615.22 439.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM550.27 402.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM680.18 -47.57 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM745.13 -10.07 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM745.13 64.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM810.09 102.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM810.09 177.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM745.13 214.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM745.13 289.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM810.09 327.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM810.09 402.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM745.13 439.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM745.13 514.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM810.09 552.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM810.09 627.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM745.13 664.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM680.18 627.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM680.18 552.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM875.04 289.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM939.99 327.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM939.99 402.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM875.04 439.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM810.08 402.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM810.08 327.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM875.04 514.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM810.08 552.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM939.99 -47.57 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1004.95 -10.07 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1004.95 64.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM939.99 102.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM875.04 64.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM875.04 -10.07 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1069.9 102.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1069.9 177.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1004.95 214.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM939.99 177.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1004.95 289.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM875.04 214.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1069.9 327.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1069.9 402.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1004.95 439.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1004.95 514.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1069.9 552.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1069.9 627.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1004.95 664.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM939.99 627.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM939.99 552.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1134.85 289.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1199.81 327.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1199.81 402.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1134.85 439.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1134.85 514.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1394.67 64.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1459.62 102.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1459.62 177.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1394.67 214.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1329.72 177.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1329.72 102.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1394.67 289.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1459.62 327.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1459.62 402.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1394.67 439.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1329.72 402.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1329.72 327.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1394.67 514.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1459.62 552.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1459.62 627.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1394.67 664.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1329.72 627.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1329.72 552.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1459.62 -47.57 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1524.58 -10.07 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1524.58 64.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1394.67 -10.07 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1589.53 102.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1589.53 177.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1524.58 214.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1524.58 289.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1589.53 327.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1589.53 402.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1524.58 439.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1524.58 514.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1589.53 552.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1589.53 627.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1524.58 664.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M81.76 186.31L125.06 211.31L125.06 261.31L81.76 286.31L38.46 261.31L38.46 211.31zM168.37 36.31L211.67 61.31L211.67 111.31L168.37 136.31L125.06 111.31L125.06 61.31zM125.06 111.31L168.37 136.31L168.37 186.31L125.06 211.31L81.76 186.31L81.76 136.31zM341.58 486.31L384.88 511.31L384.88 561.31L341.58 586.31L298.27 561.31L298.27 511.31zM601.39 486.31L644.7 511.31L644.7 561.31L601.39 586.31L558.09 561.31L558.09 511.31zM644.7 -38.69L688 -13.69L688 36.31L644.7 61.31L601.39 36.31L601.39 -13.69zM774.6 336.31L817.91 361.31L817.91 411.31L774.6 436.31L731.3 411.31L731.3 361.31zM861.21 336.31L904.51 361.31L904.51 411.31L861.21 436.31L817.91 411.31L817.91 361.31zM904.51 -38.69L947.81 -13.69L947.81 36.31L904.51 61.31L861.21 36.31L861.21 -13.69zM1077.72 -38.69L1121.02 -13.69L1121.02 36.31L1077.72 61.31L1034.42 36.31L1034.42 -13.69zM1121.02 36.31L1164.33 61.31L1164.33 111.31L1121.02 136.31L1077.72 111.31L1077.72 61.31zM1121.02 486.31L1164.33 511.31L1164.33 561.31L1121.02 586.31L1077.72 561.31L1077.72 511.31zM1207.63 36.31L1250.93 61.31L1250.93 111.31L1207.63 136.31L1164.33 111.31L1164.33 61.31zM1207.63 336.31L1250.93 361.31L1250.93 411.31L1207.63 436.31L1164.33 411.31L1164.33 361.31zM1337.54 -38.69L1380.84 -13.69L1380.84 36.31L1337.54 61.31L1294.23 36.31L1294.23 -13.69zM1380.84 36.31L1424.14 61.31L1424.14 111.31L1380.84 136.31L1337.54 111.31L1337.54 61.31zM1337.54 111.31L1380.84 136.31L1380.84 186.31L1337.54 211.31L1294.23 186.31L1294.23 136.31zM1424.14 411.31L1467.44 436.31L1467.44 486.31L1424.14 511.31L1380.84 486.31L1380.84 436.31z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");}

 .spinner {
  width: 44.8px;
  height: 44.8px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: rgba(71,75,255,0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2.2px solid #474bff;
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-22.4px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(22.4px);
}

@keyframes spinner-y0fdc1 {
  0% {
     transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

.main {
  margin: auto;
  display: table;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.containerbox {
  background-color: #121318;
  margin: 1rem;
  padding: 1rem;
  box-shadow: #6a67ce 0px 10px 50px;
  /* box-shadow: #6A67CE 0px 5px 15px; */
}

.containerbox .titleText {
  text-align: center;
}

#loader {
  margin: auto;
  display: table;
  justify-content: center;
  align-items: center;
}

.heroSection {
  margin: auto;
  display: table;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.heroSection .intro,
.tokenPriceBox,
.currrentToken {
  margin: auto;
  display: table;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formInput {
  margin: 1rem;
  padding: 1rem;
  width: 45%;
  font-size: 15px;
  outline: none;
  border: none;
  border-bottom: 3px solid #6a67ce;
}

/* CSS */
.btn {
  background: #6a67ce;
  border: 1px solid #6a67ce;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn:hover,
.btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #6a67ce;
}

.btn:active {
  opacity: 0.5;
}
